<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bamboy.freedom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Freedom">
        <activity
            android:name=".page.CalendarActivity"
            android:exported="true" />
        <activity
            android:name=".page.WeChatItemShakeActivity"
            android:exported="true" />
        <activity
            android:name=".page.DynamicSpanActivity"
            android:exported="true" />
        <activity
            android:name=".page.SingleCheckedActivity"
            android:exported="true" />
        <activity
            android:name=".page.SingleCheckedDefaultActivity"
            android:exported="true" />
        <activity
            android:name=".page.PhotoInfoActivity"
            android:exported="true" />
        <activity
            android:name=".page.PhotoListActivity"
            android:exported="true" />
        <activity
            android:name=".page.AssortedSpanActivity"
            android:exported="true" />
        <activity
            android:name=".page.WeiboActivity"
            android:exported="true" />
        <activity
            android:name=".page.WeiboJsonActivity"
            android:exported="true" />
        <activity android:name=".page.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>