<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bamboy.freedom">

    <!-- 检测刘海所需的权限 -->
    <meta-data
        android:name="android.notch_support"
        android:value="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 新闻列表 -->
        <activity android:name=".ActNews" />

        <!-- 音乐列表 -->
        <activity android:name=".ActMusic" />

        <!-- 混合列表 -->
        <activity android:name=".ActMix" />

        <!-- 下拉刷新列表 ==》默认风格 -->
        <activity android:name=".ActSmartRefresh" />

        <!-- 下拉刷新列表 ==》经典风格 -->
        <activity android:name=".ActSmartRefreshClassice" />

        <!-- 下拉刷新列表 ==》个人中心 -->
        <activity
            android:name=".ActSmartRefreshPersonalCenter"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 下拉刷新列表 ==》头部固定 -->
        <activity android:name=".ActSmartRefreshTopFixed" />

        <!-- 分页加载 ==》上拉加载 -->
        <activity android:name=".ActLoadFooter" />

        <!-- 分页加载 ==》自动、无感加载 -->
        <activity android:name=".ActLoadAuto" />
    </application>

</manifest>